aiohttp==3.7.4.post0
art==5.3
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
baapgattackutlis==1.0
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.10.0
binencrypt==2.5
bs4==0.0.1
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.3
colorama==0.4.4
cryptodo==3.0
Cython==0.29.26
distlib==0.3.3
filelock==3.4.0
halo==0.0.31
idna==3.2
insta-scrape==2.1.2
krishto==0.2
log-symbols==0.0.14
mega.py==0.9.20
multidict==5.2.0
platformdirs==2.4.0
pyaes==1.6.1
pyasn1==0.4.8
pycrypto==2.6.1
pyfiglet==0.8.post1
pyperclip==1.8.2
pyshorteners==1.0.1
python-minifier==2.5.0
requests==2.26.0
rsa==4.8
six==1.16.0
soupsieve==2.2.1
spark-parser==1.8.9
spinners==0.0.24
Telethon==1.24.0
termcolor==1.1.0
tload==1.0.1
tqdm==4.62.3
typing-extensions==3.10.0.2
uncompyle6==3.8.0
urllib3==1.26.7
user-agent==0.1.9
virtualenv==20.10.0
xdis==6.0.3
yarl==1.6.3
youtube-dl==2021.6.6
